<ion-view view-title="DPEL">
  <ion-content>
    <ul class="list">

      <li class="item item-toggle">
         Estado del dispositivo(Notificar)
         <label class="toggle toggle-positive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
    <ion-list>

  <ion-checkbox ng-model="filter.red">Recibir Notificaciones</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Ahorrador de energia</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Configuraciones Avanzadas</ion-checkbox>

</ion-list>

<div class="item range">Volumen
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>

<div class="list">
  <div class="item range range-positive">Brillo
    <i class="icon ion-ios-sunny-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios-sunny"></i>
  </div>
</div>
  </ion-content>
</ion-view>
