<ion-view view-title="Gamax">
  <ion-content>
    <ion-list>
        <!--Deportista-->

          <div class="list card">
            <div class="item item-avatar">
              <h1><i>Deportista</i></h1>
            </div>
            <div class="item item-body">
              <a href="">
              <img class="full-image" src="img/Deportista.png">
              </a>
              <p>
                Perfil: Orientado para aqueñllas personas que gustan de las actividades con bajo,medio y alto rendimiento para realizar activiades fisicas.
              </p>
            </div>
          </div>


      <!--Seguridad-->

        <div class="list card">
          <div class="item item-avatar">
            <h1><i>Seguridad</i></h1>
          </div>
          <div class="item item-body">
            <a href="">
              <img class="full-image" src="img/seguridad.jpg">
            </a>
            <p>
              Perfil: Herramientas de seguridad remota para inspecciones rutinarias .
            </p>
          </div>
        </div>


      <!--Salud-->

        <div class="list card">
          <div class="item item-avatar">
            <h1><i>Salud</i></h1>
          </div>
          <div class="item item-body">
            <a href="">
              <img class="full-image" src="img/salud.png">
            </a>
            <p>
              Perfil: Para Cuidados de la salud incluyebdo evaluaciones de estado.
            </p>
          </div>
        </div>


      <!--Oficina-->

      <div class="list card">
        <div class="item item-avatar ">
          <h1><i>Oficina</i></h1>
        </div>
        <div class="item item-body">
          <a href="">
              <img class="full-image" src="img/oficinista.jpg">
          </a>
          <p>
            Perfil: Este estado te permitira tener recordatorios a diferentes momentos del dia ,asi como programar eventos o subrutinas.
          </p>
        </div>
      </div>



      <div class="list card">
        <div class="item item-avatar">
          <img src="img/gamax.png">
          <h2>Dante Gamax</h2>
          <p>Deportista</p>
        </div>
        <div class="item item-body">
          <div class="list">

            <a class="item item-icon-left" href="#"><i class="icon ion-flash"></i> Rendimiento</a>

            <a class="item item-icon-left item-icon-right" href="#"><i class="icon ion-arrow-graph-down-left"></i>Estadistica<i class=""></i></a>

            <a class="item item-icon-left" href="#"><i class="icon ion-play"></i>Iniciar<span class="item-note"></span></a>

            <a class="item item-icon-left" href="#">  <i class="icon ion-compass"></i>Compartir </a>

          </div>
          <div>
            <ul class="list">
               <li class="item item-toggle">Modo Ion
                <label class="toggle toggle-positive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
               </label>
              </li>

  ...

</ul>
          </div>
          <p>
            Es necesario qeu consocas el rendimiento que tienes para no poder sobreesforzarte y causar alguno daño o ñesion al momento de establcer parametros en la funcion de calibracion.
          </p>
          <p>
            <a href="#" class="subdued">Sobre esto</a>
            <a href="#" class="subdued">Calibracion</a>
          </p>
        </div>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
